



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-color: rgb(16, 178, 178);

}
.row{
    background-color: white;
     width: 400px;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
    
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 60%;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-left: 40px;
    font-weight: bold;
}
.btn1:hover{
    background:white;
    border: 1px solid;
    color: black;
}






